<%- include("./partials/header") -%>

<h2>Day 1. Do a deep breathing exercise.</h2>
<p><%= startingPost %></p>

<% posts.forEach(post=>{ %>
    <h2> <%= post.title %></h1>
    <p> <%= post.body %></p>
<% }); %>


<%- include("./partials/footer") -%>
